/* iGamingUSA Insight's Colors */

@background-light: #41b883;
@background-dark: #35495e;

@login-button: #ffd700;
@login-button-alt: #00ff8c;

@navbar-background: #191b1d;

@input-text: @white;
@input-text-placeholder: @light-gray;

@validation-error-text: #ffba00;

@white: #fff;
@light-gray: #ffffffbf;
@gray: #808080;
@charcoal: #111;
@black: #000;
