/* iGamingUSA Insight's Colors */

@background-light: #41b883;
@background-dark: #35495e;

@login-button: #ffd700;
@login-button-alt: #00ff8c;

@navbar-background: #191b1d;

@white: #fff;
@black: #000;
